[submodule "HydraLife_2025-10-04_preSplashStartup"]
	path = HydraLife_2025-10-04_preSplashStartup
	url = https://github.com/carloshmarques/HydraLife_2025-10-04_preSplashStartup
[submodule "HydraLife_2025-10-26_preMediaManager"]
	path = HydraLife_2025-10-26_preMediaManager
	url = https://github.com/carloshmarques/HydraLife_2025-10-26_preMediaManager
